*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Russo One", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  border-bottom: solid 1px transparent;

  &:hover {
    border-bottom: 1px solid #ffd600;
  }
}

.container {
  width: 1250px;
  margin: auto;
}

.language-menu {
  position: relative;

  &:hover {
    .language-menu__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
    }
  }

  &__link {
    position: relative;

    &:after {
      content: ">";
      font-size: 16px;
      position: absolute;
      right: -12px;
      top: 1px;
      transform: rotate(90deg);
    }
  }
  &__list {
    display: none;
    padding: 0;
    position: absolute;
    min-height: 60px;
    z-index: 5;
  }
}

.title {
  font-size: 48px;
  line-height: 58px;
  font-weight: normal;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 1px;
    left: -104px;
    background-color: #ffd600;
  }

  &::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 1px;
    right: -104px;
    background-color: #ffd600;
  }
}

.button {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  width: 128px;
  height: 57px;
  background-color: transparent;
  border: 1px solid #ffd600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 400ms;

  &:hover {
    transform: translateY(-7px);
  }
}

.check {
  padding-left: 30px;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

.check__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.check__box {
  margin-left: -30px;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #ffd600;
  border-radius: 5px;
}

.check__input:checked + .check__box {
  background-image: url("../assets/checked.svg");
  background-position: center center;
}

.input {
  background-color: #000;
  border: none;
  border-bottom: 1px solid #7031e7;
  padding: 10px 0;
  font-size: 18px;
  line-height: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:hover + label {
    opacity: 1;
  }

  &:focus {
    outline: none;
    opacity: 1;

    & + label {
      top: 0;
      top: -14px;
      font-size: 12px;
      opacity: 1;
    }
  }

  & + label {
    position: absolute;
    left: 0;
    top: 30%;
    pointer-events: none;
    transition: 300ms ease all;
    color: #fff;
    opacity: 0.5;
  }

  &:not(:placeholder-shown) {
    opacity: 1;
  }

  &:not(:placeholder-shown) + label {
    top: 0;
    top: -14px;
    font-size: 12px;
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 860px;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 90vw;
  }

  .title {
    font-size: 30px;
    line-height: 36px;
  }

  .input + label {
    font-size: 14px;
    line-height: 19px;
  }

  .check label {
    font-size: 12px;
    line-height: 16px;
  }
}
